
.container {
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(20rem,1fr));
  align-items: center;
  justify-items: center;
  padding: 1rem;
  background-color: white;
  border-radius: 0.5rem;
  box-shadow: 0 0 0.5rem 0 rgba(0, 0, 0, 0.555);
}
h1{
  font-family: CHILLER;
  padding: 1rem;
  text-align: center;
  text-transform: capitalize;
}

p {
  text-align: center;
}
.left-tab{
  position: relative;
  z-index: 1;
  overflow: hidden;
  flex-direction: column;
  justify-content: center;
  border-radius: 50%;
}