.left-side {
  padding-top: 0.5rem;
  color: white;
  background-image: linear-gradient(-45deg, #f4aa91, #f33474)
}

/* 头像 */
.portrait {
  display: block;
  box-sizing: content-box;
  width: 4rem;
  height: 4rem;
  margin: 1rem auto;
  border-radius: 50%;
  background-color: whitesmoke;
}

nav {
  height: calc(100vh - 6.5rem);
}

nav li {
  padding: 0.5rem 3rem 0.5rem 3rem;
  cursor: pointer;
}

nav li:hover {
  background-color: #45788f;
}