.user-manage {
  padding: 0 2vw;
}

/* table */
table {
  width: 100%;
  margin-top: 1rem;
}

tr:nth-child(1)~tr:hover {
  box-shadow: 0 0 2px 0 black;
}

td {
  text-align: center;
  padding: 0.5rem 0;
}

/* .last-column {
  text-align: left;
} */

.btn-add {
  margin: 0 0.25vw;
}

.btn-delete, .btn-add, .btn-edit, .btn-filter {
  background-color: black;
  color: white;
}

/* .btn-add:hover, .btn-edit:hover {
  background-color: rgb(73, 71, 71);
}

.btn-delete:hover {
  background-color: red;
  color: white;
} */

.clearfix [class^="btn"] {
  /* float: right; */
}


[class^='btn-check'] {
  vertical-align: middle;
}



