#index{
  padding: 2rem;
}

#head-line{
  align-items: center;
}

#popular,#new,#prose{
  font-weight: bold;
  cursor: pointer;
}

.head-bar{
  width: 0.15rem;
  height: 1rem;
  margin: 0 0.5rem;
  background-color: white;
}

.main{
  margin-top: 2.5vw;
}