.btn-delete, .btn-add, .btn-edit, .btn-filter {
  background-color: black;
  color: white;
}

.clearfix [class^="btn"] {
  /* float: right; */
}

[class^='btn-check'] {
  vertical-align: middle;
}



